.App {
  text-align: center;
  background-color: antiquewhite;
}
.todoinput{
  border: 7px solid gray;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3%;
  border-radius: 20px;
  background-color: burlywood;
}
.button{
  color: blue;
  margin: 10px;
  background-color: aquamarine;
  padding: 5px;
  border-radius: 5px;
}
.todos{
  border: 2px solid royalblue;
  margin-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: cadetblue;
}
.completedButton{
  background-color: greenyellow;
  margin: 10px;
  padding: 4px;
  border-radius: 5px;
}
.completedButton:hover{
  background-color: green;
}
.deleteButton{
  background-color: orangered;
  margin: 10px;
  padding: 4px;
  border-radius: 5px;
}
.deleteButton:hover{
  background-color: darkred;
}
.addButton{
  border: 2px solid darkgreen;
  background-color: greenyellow;
  color: black;
  padding: 5px;
  border-radius: 6px;
}
.addButton:hover{
  background-color: darkgreen;
  padding: 6px;
  color: aliceblue;
}